

body{
    background: #3399ff;
    font-family: 'David Libre', serif;
    background: transparent url("pics/gym.jpg");
    background-size: cover; 
    color: white;  
  }

  h1,h2,h3{
    color: forestgreen ;
    background: silver;
    text-align: center;
    
  }

  .button {
    padding: 6px;
    background-color: ghostwhite;
    border-radius: 12px;
    transition-duration: 0.4s;
  }
  
  .button:hover {
    background-color: yellowgreen;
    color: white;
  }

  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  #quote, #work{
  color: yellowgreen;
  background: purple;
  text-align: center;
  }

  @media (min-width: 600px) {
    .container {
      flex-direction: row;      
    }
  }